* {
    margin: 0;
    padding: 0;
}

/* Sidebar */
.sidebar {
    padding-top: 20px;
    width: 200px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: grey;
    justify-content:space-between;
}

.sidebar a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    font-size: 16px;
    gap: 12px;
    display: flex;
}

.sidebar a:hover {
    background-color: #34495e;
}

.sidebar nav a.active{
    background:#2563EB;
    color:white;
    border-left:5px solid #60A5FA;
}

.menu{
    text-align: center;
}

.logo{
    padding:20px;
    color:white;
    border-bottom:1px solid rgba(255,255,255,.15);
}

.logo h2{
    margin:0;
}

.logo p{
    margin-top:5px;
    font-size:13px;
    color:#CBD5E1;
}

/* Main Content */
main {
    margin-left: 200px;
    overflow-y: auto; 
}

.container{
    padding: 20px;
}